<div class="row">
  <div class="col-md-10">
    <h2 class="page-header">نظرات</h2>
    <section class="comment-list">
      <article *ng-for="#comment of comments" class="row">
        <div class="col-md-3">
          <figure class="thumbnail">
            <img class="img-responsive"
                 src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
            <figcaption class="text-center">{{comment.creator}}</figcaption>
          </figure>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default arrow right">
            <div class="panel-body">
              <div class="row">
                <div class='col-md-8 text-right'>
                  <time class="comment-date"><i class="fa fa-clock-o"></i>
                    <small>
                      {{comment.recordDatetime | jDate}}
                    </small>
                  </time>
                </div>
                <div class="col-md-4 text-left">
                  <rating [rate]="comment.rate"></rating>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="comment-post">
                    <p>
                      {{comment.content}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
