<wrapper>
  <div class="row">
    <div class="col-md-12">
      <div class="text-left">
        <button class="btn btn-default" (click)="btnSend_click()">
          دریافت اطلاعات از سامانه آموزش
        </button>
      </div>
    </div>
  </div>
  <br/>

  <div class="row" *ng-if="_showLoading == true">
    <div class="col-md-12">
      <progressbar value="{{_progressPercent}}" type="success"
                   animate="true" max="100">
        {{_progressPercent }}%
      </progressbar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <course-index course="{{}}"></course-index>
    </div>
  </div>

</wrapper>
