.header,.marketing,.footer{padding-right:15px;padding-left:15px;}
.plus-times{float:left;}
.plus-minus{float:left;}
@media screen and (min-width:768px) {
  .header,.marketing,.footer{padding-right:0;padding-left:0;}
}

.navbar-header
{
  float: right;
}

.navbar-right
{
  float: left !important;
}
